In [1]:
from selenium import webdriver
import pandas as pd
import os
from lxml import html
import numpy

In [9]:
import numpy

In [2]:
url = "https://www.masseyratings.com/nfl/ratings"

# create a new Firefox session
driver = webdriver.Chrome(executable_path='../chromedriver')
driver.get(url)

In [5]:
tree = html.fromstring(driver.page_source)

In [11]:
datatable = pd.DataFrame(
    dict(
        team_names=[x.text for x in tree.cssselect('.tan > a')],
        ratings=[float(x.text) for x in tree.cssselect('.sorted .detail')],
        offense=[
            float(x.text)
            for x in tree.cssselect('.frank:nth-child(6) .detail')
        ],
        defense=[
            float(x.text)
            for x in tree.csssealect('.frank:nth-child(7) .detail')
        ],
        hfa=[
            float(x.text)
            for x in tree.cssselect('.bodyrow .fShort:nth-child(8)')
        ],
    ))

In [12]:
datatable

       team_names  ratings  offense  defense   hfa
0     Kansas City     1.91    28.02    -1.05  2.47
1         LA Rams     1.77    26.52     1.14  1.83
2    Philadelphia     1.43    25.83     2.85  2.61
3     New Orleans     1.13    29.69    -2.84  2.32
4        Carolina     1.03    23.97     1.95  2.80
5       Tampa Bay     0.80    24.71    -0.97  2.56
6    Jacksonville     0.79    22.85     2.89  2.49
7         Atlanta     0.77    24.14     2.95  2.52
8       Baltimore     0.76    24.79     0.73  3.00
9      Pittsburgh     0.59    27.34    -2.04  2.37
10    New England     0.46    25.76     0.92  3.08
11          Miami     0.46    20.94    -0.20  3.05
12     Cincinnati     0.34    22.75    -0.93  2.69
13    LA Chargers     0.29    23.85     0.46  2.46
14      Minnesota     0.23    21.74     3.20  2.61
15      Tennessee     0.20    19.70     1.68  2.61
16        Chicago    -0.04    18.16     2.63  2.92
17        Seattle    -0.14    23.52     0.10  2.56
18        Buffalo    -0.17    20.10     1.30  2.50
19     Washington    -0.18    21.24    -0.04  2.12
20         Dallas    -0.22    20.03     2.63  2.35
21        Detroit    -0.37    24.20    -1.89  2.75
22  San Francisco    -0.50    23.01    -2.86  2.19
23         Denver    -0.59    18.57    -1.10  3.09
24      Green Bay    -0.66    22.18    -3.24  2.75
25   Indianapolis    -0.82    18.85    -0.38  1.92
26        NY Jets    -1.05    19.65    -1.00  2.82
27      NY Giants    -1.17    17.60    -0.40  2.32
28      Cleveland    -1.20    15.86    -0.80  2.60
29        Oakland    -1.88    18.97    -2.14  2.83
30        Arizona    -1.91    16.84     0.29  2.23
31        Houston    -2.06    20.03    -3.83  2.35

In [13]:
driver.close()

In [10]:
sys.path.append('../')

In [11]:
import gspread
import pandas
from oauth2client.service_account import ServiceAccountCredentials

In [12]:
scope = [
    'https://spreadsheets.google.com/feeds',
    'https://www.googleapis.com/auth/drive'
]

credentials = ServiceAccountCredentials.from_json_keyfile_name(
    '/Users/dshurick/Downloads/dshurick-rdb-test-cb506c785735.json', scope)

spreadsheet = gspread.authorize(credentials)

worksheet = spreadsheet.open("NFL 2018 Expected Wins")

In [5]:
# scheduled_games = pandas.DataFrame(
#     worksheet.get_worksheet(0).get_all_records())[[
#         'week',
#         'away_team',
#         'home_team',
#         'home_adv',
#         'score_away',
#         'score_home',
#         'vegas_spread',
#     ]]

In [13]:
sagarin_ratings = pandas.DataFrame(
    worksheet.worksheet(title='sagarin').get_all_records())

scorex_ratings = pandas.DataFrame(
    worksheet.worksheet(title='scorex').get_all_records())

FiveThirtyEight_ratings = pandas.DataFrame(
    worksheet.worksheet(title='FiveThirtyEight').get_all_records())

massey_ratings = pandas.DataFrame(
    worksheet.worksheet(title='massey').get_all_records())

teaminfo = pandas.DataFrame(
    worksheet.worksheet(title='teaminfo').get_all_records())

In [9]:
import numpy

In [10]:
FiveThirtyEight_ratings['rating'] = FiveThirtyEight_ratings.rating.str.replace(
    ',', '').astype(numpy.int)

In [5]:
import gspread
import numpy
import pandas
from oauth2client.service_account import ServiceAccountCredentials

In [6]:
scope = [
    'https://spreadsheets.google.com/feeds',
    'https://www.googleapis.com/auth/drive'
]

credentials = ServiceAccountCredentials.from_json_keyfile_name(
    '/Users/dshurick/Downloads/dshurick-rdb-test-cb506c785735.json', scope)

spreadsheet = gspread.authorize(credentials)

worksheet = spreadsheet.open("NFL 2018 Expected Wins")

scheduled_games = pandas.DataFrame(
    worksheet.get_worksheet(0).get_all_records())[[
        'week',
        'away_team',
        'home_team',
        'home_adv',
        'score_away',
        'score_home',
        'vegas_spread',
    ]]

teaminfo = pandas.DataFrame(
    worksheet.worksheet(title='teaminfo').get_all_records())

In [10]:
teams = {
    x['team_name']: Team(
        team_id=x['team_id'],
        name=x['team_name'],
        conference=x['conference'],
        division=x['division'],
    )
    for x in teaminfo.to_dict('records')
}

In [1]:
%load_ext autoreload
%autoreload 2

In [360]:
from sportsball.nfl.nfl import Season, Team, Game

In [361]:
season_2018 = Season(
    year=2018,
    credfile='/Users/dshurick/Downloads/dshurick-rdb-test-cb506c785735.json',
    sheettitle='NFL 2018 Expected Wins',
)

In [362]:
season_2018.attach_sagarin_ratings()
season_2018.attach_538_ratings()
season_2018.attach_massey_ratings()
season_2018.attach_scorex_ratings()
season_2018.attach_vegas_ratings()

In [363]:
season_2018.set_game_probs('vegas')

In [364]:
season_2018.simulate()

{'Buffalo': {'wins': 1, 'losses': 15},
 'Miami': {'wins': 8, 'losses': 8},
 'N.Y. Jets': {'wins': 6, 'losses': 10},
 'New England': {'wins': 14, 'losses': 2},
 'Baltimore': {'wins': 9, 'losses': 7},
 'Cincinnati': {'wins': 9, 'losses': 7},
 'Cleveland': {'wins': 4, 'losses': 12},
 'Pittsburgh': {'wins': 4, 'losses': 12},
 'Denver': {'wins': 10, 'losses': 6},
 'Houston': {'wins': 7, 'losses': 9},
 'Indianapolis': {'wins': 6, 'losses': 10},
 'Jacksonville': {'wins': 14, 'losses': 2},
 'Kansas City': {'wins': 13, 'losses': 3},
 'L.A. Chargers': {'wins': 12, 'losses': 4},
 'Oakland': {'wins': 5, 'losses': 11},
 'Tennessee': {'wins': 8, 'losses': 8},
 'Dallas': {'wins': 10, 'losses': 6},
 'N.Y. Giants': {'wins': 5, 'losses': 11},
 'Philadelphia': {'wins': 8, 'losses': 8},
 'Washington': {'wins': 8, 'losses': 8},
 'Chicago': {'wins': 7, 'losses': 9},
 'Detroit': {'wins': 5, 'losses': 11},
 'Green Bay': {'wins': 11, 'losses': 5},
 'Minnesota': {'wins': 12, 'losses': 4},
 'Atlanta': {'wins': 10, 'losses': 6},
 'Carolina': {'wins': 10, 'losses': 6},
 'New Orleans': {'wins': 8, 'losses': 8},
 'Tampa Bay': {'wins': 7, 'losses': 9},
 'Arizona': {'wins': 3, 'losses': 13},
 'L.A. Rams': {'wins': 9, 'losses': 7},
 'San Francisco': {'wins': 10, 'losses': 6},
 'Seattle': {'wins': 3, 'losses': 13}}

In [367]:
sorted(list(season_2018.teams.values()))

[AFC East   | Buffalo         |  1 - 15,
 AFC East   | N.Y. Jets       |  6 - 10,
 AFC East   | Miami           |  8 -  8,
 AFC East   | New England     | 14 -  2,
 AFC North  | Cleveland       |  4 - 12,
 AFC North  | Pittsburgh      |  4 - 12,
 AFC North  | Baltimore       |  9 -  7,
 AFC North  | Cincinnati      |  9 -  7,
 AFC South  | Indianapolis    |  6 - 10,
 AFC South  | Houston         |  7 -  9,
 AFC South  | Tennessee       |  8 -  8,
 AFC South  | Jacksonville    | 14 -  2,
 AFC West   | Oakland         |  5 - 11,
 AFC West   | Denver          | 10 -  6,
 AFC West   | L.A. Chargers   | 12 -  4,
 AFC West   | Kansas City     | 13 -  3,
 NFC East   | N.Y. Giants     |  5 - 11,
 NFC East   | Philadelphia    |  8 -  8,
 NFC East   | Washington      |  8 -  8,
 NFC East   | Dallas          | 10 -  6,
 NFC North  | Detroit         |  5 - 11,
 NFC North  | Chicago         |  7 -  9,
 NFC North  | Green Bay       | 11 -  5,
 NFC North  | Minnesota       | 12 -  4,
 NFC South  | Tampa Bay       |  7 -  9,
 NFC South  | New Orleans     |  8 -  8,
 NFC South  | Atlanta         | 10 -  6,
 NFC South  | Carolina        | 10 -  6,
 NFC West   | Arizona         |  3 - 13,
 NFC West   | Seattle         |  3 - 13,
 NFC West   | L.A. Rams       |  9 -  7,
 NFC West   | San Francisco   | 10 -  6]

In [314]:
sorted(
    [{
        'name': team.name,
        'division': team.division,
        'conference': team.conference,
        'wins': team.wins,
        'losses': team.losses,
    } for team in season_2018.teams.values()],
    key=lambda x: -x['wins'])

[{'name': 'Buffalo',
  'division': 'AFC East',
  'conference': 'AFC',
  'wins': 1,
  'losses': 15},
 {'name': 'Indianapolis',
  'division': 'AFC South',
  'conference': 'AFC',
  'wins': 3,
  'losses': 13},
 {'name': 'Denver',
  'division': 'AFC West',
  'conference': 'AFC',
  'wins': 4,
  'losses': 12},
 {'name': 'Arizona',
  'division': 'NFC West',
  'conference': 'NFC',
  'wins': 5,
  'losses': 11},
 {'name': 'Cleveland',
  'division': 'AFC North',
  'conference': 'AFC',
  'wins': 6,
  'losses': 10},
 {'name': 'Oakland',
  'division': 'AFC West',
  'conference': 'AFC',
  'wins': 6,
  'losses': 10},
 {'name': 'Dallas',
  'division': 'NFC East',
  'conference': 'NFC',
  'wins': 6,
  'losses': 10},
 {'name': 'Tampa Bay',
  'division': 'NFC South',
  'conference': 'NFC',
  'wins': 6,
  'losses': 10},
 {'name': 'Seattle',
  'division': 'NFC West',
  'conference': 'NFC',
  'wins': 6,
  'losses': 10},
 {'name': 'Pittsburgh',
  'division': 'AFC North',
  'conference': 'AFC',
  'wins': 7,
  'losses': 9},
 {'name': 'N.Y. Giants',
  'division': 'NFC East',
  'conference': 'NFC',
  'wins': 7,
  'losses': 9},
 {'name': 'Washington',
  'division': 'NFC East',
  'conference': 'NFC',
  'wins': 7,
  'losses': 9},
 {'name': 'Atlanta',
  'division': 'NFC South',
  'conference': 'NFC',
  'wins': 7,
  'losses': 9},
 {'name': 'Cincinnati',
  'division': 'AFC North',
  'conference': 'AFC',
  'wins': 8,
  'losses': 8},
 {'name': 'Houston',
  'division': 'AFC South',
  'conference': 'AFC',
  'wins': 8,
  'losses': 8},
 {'name': 'Philadelphia',
  'division': 'NFC East',
  'conference': 'NFC',
  'wins': 8,
  'losses': 8},
 {'name': 'Chicago',
  'division': 'NFC North',
  'conference': 'NFC',
  'wins': 8,
  'losses': 8},
 {'name': 'Detroit',
  'division': 'NFC North',
  'conference': 'NFC',
  'wins': 8,
  'losses': 8},
 {'name': 'Minnesota',
  'division': 'NFC North',
  'conference': 'NFC',
  'wins': 8,
  'losses': 8},
 {'name': 'Carolina',
  'division': 'NFC South',
  'conference': 'NFC',
  'wins': 8,
  'losses': 8},
 {'name': 'San Francisco',
  'division': 'NFC West',
  'conference': 'NFC',
  'wins': 8,
  'losses': 8},
 {'name': 'Tennessee',
  'division': 'AFC South',
  'conference': 'AFC',
  'wins': 9,
  'losses': 7},
 {'name': 'Miami',
  'division': 'AFC East',
  'conference': 'AFC',
  'wins': 10,
  'losses': 6},
 {'name': 'N.Y. Jets',
  'division': 'AFC East',
  'conference': 'AFC',
  'wins': 10,
  'losses': 6},
 {'name': 'New England',
  'division': 'AFC East',
  'conference': 'AFC',
  'wins': 10,
  'losses': 6},
 {'name': 'Green Bay',
  'division': 'NFC North',
  'conference': 'NFC',
  'wins': 10,
  'losses': 6},
 {'name': 'Baltimore',
  'division': 'AFC North',
  'conference': 'AFC',
  'wins': 11,
  'losses': 5},
 {'name': 'L.A. Chargers',
  'division': 'AFC West',
  'conference': 'AFC',
  'wins': 11,
  'losses': 5},
 {'name': 'Kansas City',
  'division': 'AFC West',
  'conference': 'AFC',
  'wins': 12,
  'losses': 4},
 {'name': 'New Orleans',
  'division': 'NFC South',
  'conference': 'NFC',
  'wins': 12,
  'losses': 4},
 {'name': 'Jacksonville',
  'division': 'AFC South',
  'conference': 'AFC',
  'wins': 13,
  'losses': 3},
 {'name': 'L.A. Rams',
  'division': 'NFC West',
  'conference': 'NFC',
  'wins': 13,
  'losses': 3}]

In [308]:
df['pct'] = df.wins / (df.wins + df.losses)

In [312]:
df.sort_values(
    ['division', 'pct'], ascending=[True, False])[[
        'name',
        'conference',
        'division',
        'wins',
        'losses',
        'pct',
    ]]

             name conference   division  wins  losses     pct
1           Miami        AFC   AFC East    10       6  0.6250
2       N.Y. Jets        AFC   AFC East    10       6  0.6250
3     New England        AFC   AFC East    10       6  0.6250
0         Buffalo        AFC   AFC East     1      15  0.0625
4       Baltimore        AFC  AFC North    11       5  0.6875
5      Cincinnati        AFC  AFC North     8       8  0.5000
7      Pittsburgh        AFC  AFC North     7       9  0.4375
6       Cleveland        AFC  AFC North     6      10  0.3750
11   Jacksonville        AFC  AFC South    13       3  0.8125
15      Tennessee        AFC  AFC South     9       7  0.5625
9         Houston        AFC  AFC South     8       8  0.5000
10   Indianapolis        AFC  AFC South     3      13  0.1875
12    Kansas City        AFC   AFC West    12       4  0.7500
13  L.A. Chargers        AFC   AFC West    11       5  0.6875
14        Oakland        AFC   AFC West     6      10  0.3750
8          Denver        AFC   AFC West     4      12  0.2500
18   Philadelphia        NFC   NFC East     8       8  0.5000
17    N.Y. Giants        NFC   NFC East     7       9  0.4375
19     Washington        NFC   NFC East     7       9  0.4375
16         Dallas        NFC   NFC East     6      10  0.3750
22      Green Bay        NFC  NFC North    10       6  0.6250
20        Chicago        NFC  NFC North     8       8  0.5000
21        Detroit        NFC  NFC North     8       8  0.5000
23      Minnesota        NFC  NFC North     8       8  0.5000
26    New Orleans        NFC  NFC South    12       4  0.7500
25       Carolina        NFC  NFC South     8       8  0.5000
24        Atlanta        NFC  NFC South     7       9  0.4375
27      Tampa Bay        NFC  NFC South     6      10  0.3750
29      L.A. Rams        NFC   NFC West    13       3  0.8125
30  San Francisco        NFC   NFC West     8       8  0.5000
31        Seattle        NFC   NFC West     6      10  0.3750
28        Arizona        NFC   NFC West     5      11  0.3125

In [1]:
import pandas
import sklearn

from sklearn_pandas import DataFrameMapper, cross_val_score
from sklearn.model_selection import GroupKFold
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import make_scorer, log_loss

In [168]:
from sklearn.model_selection import GroupKFold

In [148]:
from sklearn.linear_model import SGDClassifier, LogisticRegression

In [8]:
dtf = pandas.read_csv('./../data/processed/nfl_data.csv')
dtf = dtf.loc[(dtf.home_win == 0) | (dtf.home_win == 1)]

In [239]:
dtf

,season,five38_home_rating,five38_away_rating,massey_home_rating,massey_away_rating,sagarin_home_rating,sagarin_away_rating,home_win,gamenum,home_adv
0,2017,1434,1559,24.83,22.80,17.12,20.50,1.0,1,1
1,2017,1529,1600,21.28,18.56,23.01,21.80,1.0,2,1
2,2017,1476,1497,21.00,24.19,20.23,18.40,1.0,3,1
3,2017,1498,1480,21.69,11.05,24.08,17.84,1.0,4,1
4,2017,1623,1489,32.83,15.50,27.78,19.01,1.0,5,1
5,2017,1489,1387,29.52,23.75,24.02,11.43,0.0,6,1
6,2017,1455,1514,17.59,25.61,19.77,21.57,0.0,7,1
7,2017,1598,1436,31.03,18.36,27.66,19.74,1.0,8,1
8,2017,1282,1460,20.29,22.22,12.33,14.98,0.0,9,1
9,2017,1608,1477,24.66,21.94,26.23,20.71,0.0,10,1
10,2017,1585,1667,23.90,25.25,24.25,26.22,1.0,11,1
11,2017,1474,1468,22.35,21.93,20.63,20.15,0.0,12,1
12,2017,1558,1508,24.86,27.55,25.25,21.45,0.0,13,1
13,2017,1476,1585,16.17,22.73,17.85,23.26,0.0,14,1
14,2017,1488,1459,23.18,19.56,20.55,16.89,1.0,15,1
15,2017,1544,1255,32.79,15.06,24.66,8.91,1.0,16,1
16,2017,1419,1521,21.11,20.68,19.67,21.78,0.0,17,1
17,2017,1519,1462,22.13,16.09,24.92,20.04,1.0,18,1
18,2017,1500,1564,20.54,26.11,22.69,23.76,0.0,19,1
19,2017,1528,1610,22.57,31.91,21.96,26.31,0.0,20,1
20,2017,1424,1466,23.61,18.79,19.86,15.77,1.0,21,1
21,2017,1417,1623,16.01,27.70,15.17,25.31,0.0,22,1
22,2017,1550,1458,30.09,23.60,25.20,19.79,1.0,23,1
23,2017,1586,1611,25.82,21.68,23.81,24.69,1.0,24,1
24,2017,1266,1419,19.25,21.39,11.59,16.02,1.0,25,1
25,2017,1473,1696,16.40,30.17,19.99,27.84,0.0,26,1
26,2017,1544,1457,26.27,12.35,24.87,15.45,1.0,27,1
27,2017,1631,1499,28.50,17.75,27.32,18.59,1.0,28,1
28,2017,1439,1441,20.43,22.86,17.13,18.24,0.0,29,1
29,2017,1440,1459,26.81,22.43,20.81,15.53,1.0,30,1
...,...,...,...,...,...,...,...,...,...,...
208,2017,1746,1433,30.49,17.01,30.07,19.09,0.0,89,-1
209,2018,1601,1712,20.68,26.12,23.42,28.83,0.0,90,-1
210,2018,1502,1600,18.31,24.33,16.33,23.99,0.0,91,-1
211,2018,1475,1472,21.27,20.51,17.15,20.41,1.0,92,-1
212,2018,1398,1716,18.14,34.65,18.85,30.69,0.0,93,-1
213,2018,1535,1477,23.54,18.66,21.20,20.99,1.0,94,-1
215,2018,1469,1667,17.92,27.77,19.09,28.26,0.0,96,-1
216,2018,1469,1649,22.11,31.58,17.48,26.94,1.0,97,-1
217,2018,1496,1515,22.29,23.39,18.45,18.93,0.0,98,-1
218,2018,1571,1610,21.37,25.32,21.53,24.91,1.0,99,-1
219,2018,1547,1615,21.62,24.81,21.56,24.93,0.0,100,-1
220,2018,1545,1515,25.07,20.47,20.64,21.12,0.0,101,-1
221,2018,1472,1548,21.60,23.38,18.64,19.56,1.0,102,-1
222,2018,1444,1537,18.96,22.02,16.86,26.38,0.0,103,-1
223,2018,1432,1589,19.66,29.48,14.88,22.70,1.0,104,-1
224,2018,1530,1530,26.86,23.34,23.07,20.84,1.0,105,-1
225,2018,1562,1564,24.77,21.71,23.15,22.00,0.0,106,-1
226,2018,1567,1653,18.67,23.03,22.61,24.92,0.0,107,-1
227,2018,1311,1614,16.91,34.89,14.93,23.66,0.0,108,-1
228,2018,1393,1541,20.27,26.65,19.07,20.11,0.0,109,-1
229,2018,1382,1574,17.68,28.46,15.90,23.67,1.0,110,-1
230,2018,1598,1652,26.30,28.56,22.94,25.91,1.0,111,-1
231,2018,1518,1541,21.81,20.85,19.81,17.22,1.0,112,-1
232,2018,1469,1550,21.25,23.74,17.65,21.87,1.0,113,-1
234,2018,1660,1570,29.16,23.77,25.50,22.58,0.0,115,-1
235,2018,1446,1625,19.24,25.88,14.80,27.06,0.0,116,-1
236,2018,1470,1525,26.76,24.87,16.47,21.50,0.0,117,-1
237,2018,1656,1614,25.93,24.20,26.43,24.54,0.0,118,-1
238,2018,1434,1530,20.82,23.80,16.17,21.60,0.0,119,-1
239,2018,1397,1595,14.48,23.80,17.22,22.87,0.0,120,-1

In [144]:
pipe = sklearn.pipeline.Pipeline([
    ('featurize',
     DataFrameMapper(
         [
             (['five38_home_rating'], StandardScaler()),
             (['five38_away_rating'], StandardScaler()),
             (['massey_home_rating'], StandardScaler()),
             (['massey_away_rating'], StandardScaler()),
             (['sagarin_home_rating'], StandardScaler()),
             (['sagarin_away_rating'], StandardScaler()),
         ],
         sparse=True)),
    ('lm',
     SGDClassifier(
         alpha=0.08,
         loss='log',
         fit_intercept=False,
         penalty='l2',
         max_iter=1000,
         tol=1e-3,
     )),
])

In [230]:
pipe = sklearn.pipeline.Pipeline([
    ('featurize',
     DataFrameMapper(
         [
             ([
                 'five38_away_rating',
                 'five38_home_rating',
                 'massey_away_rating',
                 'massey_home_rating',
                 'sagarin_away_rating',
                 'sagarin_home_rating',
             ], StandardScaler()),
         ],
         sparse=True)),
    ('lm', LogisticRegression(C=0.4)),
])

In [232]:
x = pipe.named_steps['featurize']

In [236]:
x.features[0][1].scale_

array([97.86976773, 97.86976773,  4.51784368,  4.51784368,  4.5378788 ,
        4.5378788 ])

In [237]:
x.features[0][1].mean_

array([1513.71610169, 1513.71610169,   23.00144068,   23.00144068,
         21.25025424,   21.25025424])

In [ ]:
cv = GroupKFold(n_splits=20)

In [206]:
xxx = cross_val_score(
    pipe,
    X=dtf,
    y=dtf.home_win,
    groups=dtf.gamenum,
    scoring=make_scorer(
        log_loss,
        greater_is_better=False,
        needs_proba=True,
    ),
    cv=cv.split(X=dtf, groups=dtf.gamenum),
    n_jobs=-1,
)

In [207]:
xxx.mean()

-0.5844360835663382

In [ ]:
clf = GridSearchCV(svc, parameters, scor)

In [231]:
pipe.fit(X=dtf, y=dtf.home_win)

Pipeline(memory=None,
     steps=[('featurize', DataFrameMapper(default=False, df_out=False,
        features=[(['five38_away_rating', 'five38_home_rating', 'massey_away_rating', 'massey_home_rating', 'sagarin_away_rating', 'sagarin_home_rating'], StandardScaler(copy=True, with_mean=True, with_std=True))],
        input_df=Fa...ty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False))])

In [220]:
lm = pipe.named_steps['lm']

In [235]:
lm.coef_

array([[-0.48811602,  0.48811602,  0.83260993, -0.83260993,  0.17701139,
        -0.17701139]])

In [238]:
0.48811602/97.86976773

0.004987403478330498